body{
    margin: 0;
}

.clockBoxParent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vh;
}

.clockBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height:25vh;
    width: 25vh;
    background-color: aquamarine;

}

/* font needs to be formatted for the clock */
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    background-color: blueviolet;
    color: aqua;
}

.dropdowns {
    /* display: inline-block; */
    position: relative;
}

.Hours {
    display: inline-block;
}

.dropdowns button{
    background-color: rgb(167, 184, 199);
    border: none;
    padding: 10px 15x;
    cursor: pointer;
}

.hourContent a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdowns .hourContent{
    display:none;
    background-color: red;
    position: absolute;
    min-width: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541)
}

.dropdowns:hover .hourContent{
    display:block;
}